<?xml version="1.0" encoding="UTF-8"?>
    <web-app>  
      
    <servlet>  
    <servlet-name>Registr</servlet-name>  
    <servlet-class>com.akhlak.Register</servlet-class>  
    </servlet>  
      
    <servlet-mapping>  
    <servlet-name>Registr</servlet-name>  
    <url-pattern>/ss</url-pattern>  
    </servlet-mapping>  
      
    <welcome-file-list>  
        <welcome-file>register.html</welcome-file>  
    </welcome-file-list>  
      
    </web-app>  